<section>
  <div class="jumbotron">
    <h1>Your foot in the door at top companies</h1>
  </div>
  <div id="welcome" class="container">
    <div id="outline">
      <div class="row">
        <div class="col-xs-6 middle-adjust center">
          <img class="welcome-icon" src="<%= asset_path( 'candidate-icon2.png' ) %>" alt="Candidate icon" width="72px" height="74px"/>
          <h2 class="welcome-info">Get Referred</h2>
          <p class="info-text" align="left">Request informational interviews with current employees at top companies open to referring great talent. </p>
        </div>
        <div class="col-xs-6 middle-line center">
          <img class="welcome-icon" src="<%= asset_path( 'sourcer-icon.png' ) %>" alt="Sourcer icon" width="72px" height="74px"/>
          <h2 class="welcome-info">Find Great Talent to Refer</h2>
          <p class="info-text" align="left">Set your personal referral criteria and wait for qualified candidates to come to you. Easily accept or deny requests and start collecting referral bonuses from your company. </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 center">
          <!-- Button trigger sign up modal -->
          <% if logged_in? %>
          <a class="btn btn-primary" href="/dashboard/">Go to Dashboard</a>
          <% else %>

          <button data-toggle="modal" data-target="#createUser" class="btn btn-primary" id="sign-up">Sign-Up</button>

          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div id="more-info" class="container parent">
    <div class="row">
      <div class="col-xs-12 center">
        <h2 id="how-to" class="center">How it Works</h2>
      </div>
    <div class="row">
      <div class="col-sm-4 center">
        <img class="welcome-icon" src="<%= asset_path( 'red-setting2.png' ) %>" alt="Settings icon" width="100px" height="100px"/>
        <h2 class="welcome-info">Search for Employees</h2>
        <p class="info-text" align="justify">Search by company, location, and role to find the best opportunity.</p>
      </div>
      <div class="col-sm-4 center">
        <img class="welcome-icon" src="<%= asset_path( 'red-calendar2.png' ) %>" alt="Calendar icon" width="100px" height="100px"/>
        <h2 class="welcome-info">Request a Referral Interview</h2>
        <p class="info-text" align="justify">Answer a few short questions and schedule a time to speak.</p>
      </div>
      <div class="col-sm-4 center">
        <img class="welcome-icon" src="<%= asset_path( 'red-users.png' ) %>" alt="Users icon" width="100px" height="100px"/>
        <h2 class="welcome-info">Grow your Network</h2>
        <p class="info-text" align="justify">Make new connections, build relationships and find your dream job</p>
      </div>
    </div>
  </div>

  <!-- Sign Up Modal -->
  <div class="modal fade" id="createUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Sign-Up</h4>
        </div>
        <div class="modal-body">
          <%= form_for(@user) do |f| %>
            <% if @user.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
                <ul>
                <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>



            <div class="sign-up-shift">

              <%= f.label :email, style: 'float: left; text-align: right; width: 20%'  %>
              <%= f.text_field :email, style: 'width: 65%; margin-left: 10px; float: left; '   %>
              <br>
              <br>
              <%= f.label :password, style: 'float: left; text-align: right; width: 20%'  %>
              <%= f.password_field :password, style: 'width: 65%; margin-left: 10px; float: left; ' %>


             <!--  <%= f.label :password_confirmation, style: 'float: left; text-align: right; width: 20%' %>
              <%= f.password_field :password_confirmation, style: 'width: 65%; margin-left: 10px; float: left; ' %> -->
              <br>
            </div>





        </div>

        <div class="modal-footer">

          <center>
              <%= f.submit "Create User", class: 'btn btn-primary' %>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
              </br>
              <center>
                <% end %>
        <!-- <button class="btn btn-success"
            data-toggle="modal" data-target="#logUser" data-dismiss="modal">Log In</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button> -->

        </div>

      </div>
    </div>
  </div>

  <!-- Login Modal -->
  <div class="modal fade" id="logUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Log In</h4>
        </div>
        <div class="modal-body">


          <%= form_tag sessions_path, method: :post do %>
            <div class="field">
              <center>
              <%= text_field_tag :email, nil, placeholder: 'e-mail', style: 'width: 65%; margin-left: 10px; float: center; ' %>
            </center>
            </div>
            <br>

            <div class="field">

              <center>
              <%= password_field_tag :password, nil, placeholder: 'password', style: 'width: 65%; margin-left: 10px; float: center; ' %>
              <br>
              </center>

            </div>






        </div>
        <div class="modal-footer">
          <!-- <div class="actions"> -->
            <center>
              <%= button_tag link_to "Cancel", root_path %>

              <%= button_tag "Log In", :class => 'submit-button'%>
            <center>
              <% end %>
            <!-- </div> -->
          <!-- <button class="btn btn-success"
              data-toggle="modal" data-target="#createUser" data-dismiss="modal">Sign Up</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button> -->
        </div>
      </div>
    </div>
  </div>


  <!-- Heroku Demo Modal  -->

  <div class="modal fade" id="betaUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <br><h4 class="modal-title" id="myModalLabel">Thank you for signing up!</h4>
          <h3> We will reach out to you with more information in the upcoming future. </h3>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
         <!--  <button class="btn btn-success"
              data-toggle="modal" data-target="#createUser" data-dismiss="modal">Sign Up</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button> -->
        </div>
      </div>
    </div>
  </div>

</section>
