
<div class="row ">
        <div class="col-xs-12">
          <h3>Employment History</h3>
        </div>
      </div><!-- end row -->
      <div class="row">
        <% @profile.employments.each do |e| %>
        <div class="row employments industry">
          <div class="indent result-detail">
            <div class="col-xs-8">

            <%= link_to employment_path(e) do%>
            <h4><%=e.title%> at:</h4>
            <!-- <div class="row"> -->
              <h4><%= e.company %></h4>

              <!-- <div class="col-xs-8"> -->
                <h5>Location: <%=e.city%>, <%= e.state %></h5>
                <h5>Industry: <%=e.industry %></h5>
                <%= link_to employment_path(e) do%>
                <h5>Summary: <%=e.summary%></h5>
                <% end %>
              </div>

              <div class="col-xs-4">
                <% if session[:user_id] == @profile.user.id %>
                <%= link_to "Edit this Job", edit_employment_path(e), class:"btn btn-danger pull-right", id:"show-edit" %>
                <% end %>
              </div>
            </div>
            <!-- end row -->
            <% end %>
          </div>
          <%end%>
        </div><!-- end row employments industry -->
          <div class="row">
            <div class="col-xs-12 center">
              <% if session[:user_id] == @profile.user.id %>
                <%= link_to "Add Employment", new_employment_path, class:"btn btn-primary pull-right", id:"show" %>
              <% end %>
            </div>
        </div>
      </div>